<div class="contenedor">

    <div class="barra-Resultados">
        <p>{{this.exprecion}}</p>
    </div>

    <div class="botones-Numericos">
        <app-botones [botonNum]='1' (notify)="onNotify(1)"></app-botones>
        <app-botones [botonNum]='2' (notify)="onNotify(2)"></app-botones>
        <app-botones [botonNum]='3' (notify)="onNotify(3)"></app-botones>
        <app-botones [botonNum]='4' (notify)="onNotify(4)"></app-botones>
        <app-botones [botonNum]='5' (notify)="onNotify(5)"></app-botones>
        <app-botones [botonNum]='6' (notify)="onNotify(6)"></app-botones>
        <app-botones [botonNum]='7' (notify)="onNotify(7)"></app-botones>
        <app-botones [botonNum]='8' (notify)="onNotify(8)"></app-botones>
        <app-botones [botonNum]='9' (notify)="onNotify(9)"></app-botones>
    </div>
    <div class="botones-Logicos">
        <button value="+" (click)="onclick($event)">+</button>
        <button value="-" (click)="onclick($event)">-</button>
        <button value="=" (click)="onclick($event)">=</button>
    </div>
</div>